<!DOCTYPE html>

@using System.Collections
@using System.Globalization
@using System.Resources
@using Deloitte.Radia.Web.Portal.App_GlobalResources;

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/Images/Dcom-black-64x64.png")" />
    <title>@Resources.General_ApplicationName</title>
    @Styles.Render("~/Content/css")

    @{
        ResourceSet resourceSet = Resources.ResourceManager.GetResourceSet(CultureInfo.CurrentUICulture, true, true);
    }
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="wrapper">
        <header id="header" class="header-collapse">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div>
                            <a class="navbar-brand" href="~/Home"><img src="~/Content/Images/logo.png" alt="Deloitte" /></a>
                            <span class="navbar-brand">@Resources.UI_TextUnderLogo</span>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="masterPage">
            <div class="workspace-content">
                <section>
                    <div id="main">
                            @RenderBody()
                    </div>
                </section>
            </div>
        </div>
    </div>
    <footer class="sticky-footer navbar-fixed-bottom">
        <div class="workspace deloitteNav">
            <p class="dlt-footerNav">
                @Html.ActionLink(Labels.Terms, "Index", "Copyright") |

                @Html.ActionLink(Resources.UI_Contact, "Index", "Contact")
            </p>
            <div style="clear: both"></div>
        </div>
    </footer>
</body>
</html>


