
@using System.Collections
@using System.Globalization
@using System.Resources;
@using Pep.Web.App_GlobalResources;


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/images/logo.png")" />
    <title>Omilios</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/content.min.css" />
    </environment>

    @{
        ResourceSet resourceSet = Resources.ResourceManager.GetResourceSet(CultureInfo.CurrentUICulture, true, true);
    }
    <script type="text/javascript">
        var NremtModules = {};
        NremtModules.WebLink ="@Url.Action("Index", Resources.UI_Home)";
        NremtModules.AdminLink="@Url.Action("Index", Resources.UI_Admin)";
        var User = {};
        var commonMessages = {};
            @foreach (DictionaryEntry res in resourceSet)
            {
                // Create a property on the javascript object for each text resource
                @:commonMessages.@res.Key = "@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(res.Value.ToString()))";
            }


    </script>
    @*@RenderSection("AddToHead", required: false)*@

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <span id="popupNotification" style="display:none;"></span>
    @*@Html.Partial("~/Views/Shared/_SessionsManager.cshtml")*@
    <div class="wrapper">
        <header id="header" class="header-collapse">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div>
                            <a class="navbar-brand" href="~/Home"></a>
                            <span class="navbar-brand">Omilios</span>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        @{Html.RenderPartial("_TopMenu");}
                    </div>
                </div>
            </nav>
        </header>
        <div class="masterPage">
            <div class="workspace-content">
                <div class="clear"></div>
                <div class="loader hidden"></div>
                <section>
                    <div id="main">
                        <div id="notificationLink-append">
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    @*@Html.Partial("_TemplatesMessageAlerts")*@
    @RenderSection("scripts", required: false)
    @*@Html.Partial("_TemplatesMessageAlerts")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")

</body>
</html>
