@{
    Layout= null;
}
@using System.Collections
@using System.Globalization
@using System.Resources
@using Omilios.Web.Portal.App_GlobalResources;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="" />
    <title>@Resources.General_ApplicationName</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/content.min.css" />
    </environment>
    <script type="text/javascript">
        window.localStorage.removeItem("Bearer");
    </script>
    @*@RenderSection("AddToHead", required: false)*@
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <span id="popupNotification" style="display:none;"></span>  
    <div class="wrapper">

        You have successfully logged out of Application.
    </div>

    <footer class="sticky-footer navbar-fixed-bottom">
        <div class="workspace deloitteNav">
            <p class="dlt-footerNav">
                @Html.ActionLink(Labels.Terms, "Index", "Copyright") |

                @Html.ActionLink(Resources.UI_Contact, "Index", "Contact")
            </p>
            <div style="clear: both"></div>
            <p class="dlt-footerCopy">
                &copy; @DateTime.Now.Year. @Html.Raw(@Resources.DeloitteFooter)
            </p>
        </div>
    </footer>
</body>

</html>


